.container-fluid
  .row
    %div{class: "col-md-8 col-md-push-2 main-content"}
      .page-header{ :style => 'margin-bottom: 20px;' }
        %h1 About Edumap

      %p
        Edumap is a search tool to connect educators with online computer science lesson plans, organized all in one place by:
      %ol
        %li
          grade level
        %li
          physical/computer resources required to use
        %li
          educational standards touched on by lessons
        %li
          educational assessments touched on by lessons
      %p
        You can search on a topic, and filter out results for a particular grade or educational standard (such as Common Core Math). Only activities marked with the “plugged in” icon require a computer.
      %p
        Edumap was developed by a group of hackers and educators at Chihacknight in support of Chicago Public Schools’ Computer Science for All initiative.
